{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Homepage</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
</head>

<body class="bg-gray-100">
    <nav class="bg-indigo-900 py-2 md:py-4 shadow-lg">
        <div class="container px-4 md:flex md:items-center mx-auto">
            <a href="#" class="font-bold text-xl text-white ">MarcianoPropfolio</a>
        </div>
    </nav>


    <div class="bg-indigo-200 m-7 p-6">
        <div class="text-4xl text-gray-800 font-medium">Welcome 👋 </div>
        <div class="mt-4">Upload & visualise data quickly with our reporting tool</div>
    </div>


    <div class="flex">
        <div class="w-1/2">
            <div class="m-10 font-bold text-indigo-600">Upload CSV File</div>
            <div class="container mx-auto w-full max-w-xs">
                <form class="bg-white rounded px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input class="inline-block font-bold text-sm text-blue-500" type="file" name="file" id="file">
                    <input class="bg-blue-500 text-white font-bold py-2 px-4 rounded" type="submit" name="submit" id="">
                </form>
            </div>
        </div>
        <div class="w-1/2"></div>
    </div>


    <div class="m-10 font-bold text-indigo-600">Property Stats</div>

    <div class="container mx-auto flex justify-center">
        <div class="flex flex-col">
            <div class="w-full">
                <div class="border-b border-gray-200 shadow">
                    <table id="table">
                        <thead>
                            <tr>
                                <th class="px-6 py-2 text-sm text-gray-500">Property Name</th>
                                <th class="px-6 py-2 text-sm text-gray-500">Price</th>
                                <th class="px-6 py-2 text-sm text-gray-500">Rent</th>
                                <th class="px-6 py-2 text-sm text-gray-500">EMI</th>
                                <th class="px-6 py-2 text-sm text-gray-500">Tax</th>
                                <th class="px-6 py-2 text-sm text-gray-500">Monthly Expense</th>
                                <th class="px-6 py-2 text-sm text-gray-500">Net Expenses</th>
                                <th class="px-6 py-2 text-sm text-gray-500">Net Income</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in data_objects %}
                            <tr>
                                <td class="px-6 py-4 text-sm text-gray-500 font-bold">{{object.name}}</td>
                                <td class="px-6 py-4 text-sm text-green-500">{{object.price}}</td>
                                <td class="px-6 py-4 text-sm text-green-500">{{object.rent}}</td>
                                <td class="px-6 py-4 text-sm text-red-500">{{object.emi}}</td>
                                <td class="px-6 py-4 text-sm text-red-500">{{object.tax}}</td>
                                <td class="px-6 py-4 text-sm text-red-500">{{object.exp}}</td>
                                <td class="px-6 py-4 text-sm text-red-500">{{object.expenses_monthly}}</td>
                                <td class="px-6 py-4 text-sm text-green-500">{{object.income_monthly}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td class="px-6 py-4 text-sm text-gray-500 font-bold">Total</td>
                                <td id="totalPrice" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                                <td id="totalRent" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                                <td id="totalEmi" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                                <td id="totalTax" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                                <td id="totalExp" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                                <td id="totalExpense" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                                <td id="totalIncome" class="px-6 py-4 text-sm text-gray-500 font-bold">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="flex gap-8 m-10">
        <div class="w-1/2">
            <div class="text-indigo-600 font-bold ,-10">Income Chart</div>
            <div>
                <canvas id="incomeChart" width="400" height="400"></canvas>

            </div>
        </div>

        <div class="w-1/2">
            <div class="text-indigo-600 font-bold ,-10">Expense Chart</div>
            <div>
                <canvas id="expenseChart" width="400" height="400"></canvas>

            </div>
        </div>
    </div>

    <div class="flex gap-8 m-10">
        <div class="w-1/2">
            <div class="text-indigo-600 font-bold ,-10">Expense Spread Chart</div>
            <div>
                <canvas id="expenseSpreadChart" width="400" height="400"></canvas>

            </div>
        </div>

        <div class="w-1/2">
            <div class="text-indigo-600 font-bold ,-10">Income Spread Chart</div>
            <div>
                <canvas id="incomeSpreadChart" width="400" height="400"></canvas>

            </div>
        </div>
    </div>






    </br>
    <script>




        table = document.getElementById("table")
        // declaring variables to hold cell values
        let net_prices, net_rent, net_emi,
            net_tax,
            net_exp,
            net_monthly_expense = 0;
        let property = ""
        // declaring variable to hold total
        let total_prices = 0, total_rent = 0, total_emi = 0,
            total_tax = 0,
            total_monthly_expense = 0,
            total_monthly_income = 0,
            total_exp = 0;

        //Arrays for populating charts
        let net_incomes = []
        let properties = []
        let net_monthly_expenses = []

        let net_emis = []
        let net_taxes = []
        let net_exps = []

        for (let i = 1; i < table.rows.length - 1; i++) {
            // getting values from the table cells
            net_prices = table.rows[i].cells[1].innerText;
            net_rent = table.rows[i].cells[2].innerText;
            net_emi = table.rows[i].cells[3].innerText;
            net_tax = table.rows[i].cells[4].innerText;
            net_exp = table.rows[i].cells[5].innerText;
            net_monthly_expense = table.rows[i].cells[6].innerText;
            net_income = table.rows[i].cells[7].innerText;
            property = table.rows[i].cells[0].innerText;
            console.log(property)


            //pushing above values into arrays
            net_incomes.push(parseInt(net_income));

            properties.push(property)
            net_monthly_expenses.push(net_monthly_expense)

            net_emis.push(net_emi)
            net_taxes.push(net_tax)
            net_exps.push(net_exp)
            //converting text values to integers
            net_prices = parseInt(net_prices)
            net_rent = parseInt(net_rent)
            net_emi = parseInt(net_emi);
            net_tax = parseInt(net_tax);
            net_exp = parseInt(net_exp);
            net_monthly_expense = parseInt(net_monthly_expense);
            net_income = parseInt(net_income);


            // calculating the total 
            total_prices += net_prices
            total_rent += net_rent
            total_emi += net_emi;
            total_tax += net_tax;
            total_exp += net_exp;
            total_monthly_income += net_income;
            total_monthly_expense += net_monthly_expense;
        }
        document.getElementById("totalPrice").innerHTML = total_prices
        document.getElementById("totalRent").innerHTML = total_rent
        document.getElementById("totalEmi").innerHTML = total_emi
        document.getElementById("totalTax").innerHTML = total_tax
        document.getElementById("totalExp").innerHTML = total_exp
        document.getElementById("totalIncome").innerHTML = total_monthly_income
        document.getElementById("totalExpense").innerHTML = total_monthly_expense
        console.log(
            total_prices,
            total_rent,
            total_emi,
            total_tax,
            total_exp,
            total_monthly_expense,
            total_monthly_income
        );



        const ctx = document.getElementById('incomeChart').getContext('2d');
        const incomeChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: properties,
                datasets: [{
                    label: 'Income in dollars',
                    data: net_incomes,
                    backgroundColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(75, 192, 192, 1)'

                    ],

                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });



        const ctx2 = document.getElementById('expenseChart').getContext('2d');
        const expenseChart = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: properties,
                datasets: [{
                    label: 'Expense in dollars',
                    data: net_monthly_expenses,
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],

                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });


        const ctx3 = document.getElementById('expenseSpreadChart').getContext('2d');
        const expenseSpreadChart = new Chart(ctx3, {
            type: 'bar',
            data: {
                labels: properties,
                datasets: [{
                    label: 'Monthly EMI',
                    data: net_emis,
                    backgroundColor: ["rgba(255, 206, 86, 1)"],

                    borderWidth: 1
                }, {
                    label: 'Monthly Tax',
                    data: net_taxes,
                    backgroundColor: ["rgba(153, 102, 255, 1)"],

                    borderWidth: 1
                }, {
                    label: 'Monthly Other Expenses',
                    data: net_exps,
                    backgroundColor: ["rgba(255, 159, 64, 1)"],

                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });




        const ctx4 = document.getElementById('incomeSpreadChart').getContext('2d');
        const incomeSpreadChart = new Chart(ctx4, {
            type: 'pie',
            data: {
                labels: properties,
                datasets: [{
                    label: 'Income in dollars',
                    data: net_incomes,
                    backgroundColor: [
                        "rgb(255, 99, 132)",
                        "rgb(54, 162, 235)",
                        "rgb(255, 205, 86)",
                        "rgba(255, 106, 86)",
                        "rgba(153, 102, 255)",
                        "rgba(255, 159, 64)"


                    ],

                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>

</html>